<section id="about" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>Our Story</h2>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum maximus gravida. Etiam consectetur eleifend pharetra. Duis in turpis ac massa ullamcorper scelerisque. Donec sed iaculis diam. Donec diam elit, placerat ac diam et, euismod finibus erat. Vestibulum aliquam ligula accumsan risus sollicitudin feugiat. Vestibulum aliquet sem ac congue molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Why You?</h2>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum maximus gravida. Etiam consectetur eleifend pharetra. Duis in turpis ac massa ullamcorper scelerisque. Donec sed iaculis diam. Donec diam elit, placerat ac diam et, euismod finibus erat. Vestibulum aliquam ligula accumsan risus sollicitudin feugiat. Vestibulum aliquet sem ac congue molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

	    <div class="col-md-4 col-sm-12">
		<h2>Our Aim</h2>
		<hr>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum maximus gravida. Etiam consectetur eleifend pharetra. Duis in turpis ac massa ullamcorper scelerisque. Donec sed iaculis diam. Donec diam elit, placerat ac diam et, euismod finibus erat. Vestibulum aliquam ligula accumsan risus . Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

	    </div>
        </div>
    </div>
</section>
