

<section id="contact" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h2>Contact Us</h2>
                <hr>
                <ul class="list-inline">
                    <li>
                        <a href="https://twitter.com/httfio" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                    </li>
                    <li >
                        <a href="https://www.facebook.com/httfio" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="mailto:theakash@live.com?Subject=contact%20HTTF" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </li>
                </ul>
                <br>
                <p>Please Tweet,Share or Email your questions and comments to us.Thank you</p>
            </div>
        </div>
    </div>
</section>
