<section id="volunteer_mentor" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h2>Want to Hack the Futher with us?</h2>
                <hr>
                <p class="lead">Help us make this happen and welcome so many awesome hackers. Register now!</p>
                <div class="buttons">
                    <div class="svg-wrapper ">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="40" width="150"/>
                            <div class="text">
                                <a class="typeform-share link" href="https://akashsharma1.typeform.com/to/cQFEyc" data-mode="popup" style="color:#000;font-size:20px;" data-hide-headers=true data-hide-footer=true data-submit-close-delay="0" target="_blank"> volunteer  </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                            </div>
                        </svg>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
