<footer class="text-center-xs">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Made with <i class="fa fa-laptop red" aria-hidden="true"></i><i class="fa fa-coffee" aria-hidden="true" style="color:red" ></i> and <i class="fa fa-whatsapp"></i> by MRDG</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                {% unless site.original_repo == null %}
                <a href="{{site.original_repo}}" target="_blank">
                    <small>Last updated: {{site.time | date:"%b %-d %Y %H:%M" }}</small>
                </a>
                {%endunless%}
            </div>
        </div>
    </div>

</footer>
